.footer-copyright{
    
   background-color: rgb(255, 255, 255);
    
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    
    margin-top: 50px;
    text-align: center;
    border-top: 2px solid black;
}


@media (max-width:750px) {
   
    .footer-copyright{
        text-align: center;
    }
}